<div class="section forecast">
    <div class="well well-lg">
        <canvas id="forecast_icon" data-icon="{{ forecast.icon }}" width="256" height="256"></canvas>
        <div class="temp">{{ forecast.temperature|round }} °C</div>
        <div class="summary">{{ forecast.summary }}</div>
    </div>
</div>
